@keyframes animation-box{
  from {
      background-color: black;
      color: white;
  }

  to {
      background-color: white;
      color: black;
  }
}


body{
  background: url('bg.jpg');
  background-repeat: no-repeat;
}

#div1{
  position: relative;
  width: 70%;
  margin: auto;
  transform: translate(0%, 50px);
  text-align: center;
}

#dev-registration{
  margin-bottom: 200px;
}

#div-fields{
  width: 100%;
  color: white;
}
#div-fields p{
  font-size: 40px;
}



.tecname{
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;

  transition: all 0.5s;
}
.checkbox{
  display: block;
  border-radius: 50px;
  border: 2px solid white;
}
#languages{
  width: 100%;
}
#sub-languages{
  width: 80%;
}
.div-languages{
  margin-left: 70px;
  margin-bottom: 30px;
}
.div-languages label{
  font-size: 30px;
}
input[type=checkbox]{
  font-size: 50px;
}


.input{
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  border-radius: 50px;
  width: 80%;
  height: 60px;
  font-size: 30px;

  transition: all 0.5s;
}
.input:hover{
  background-color: white;
}

.input:hover::placeholder{
  color: black;
}


.input::placeholder{
  color: white;
}


.next{
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  border-radius: 50px;
  border: 2px solid white;
  width: 150px;
  margin-right: 100px;


  transition: all 0.5s;
}
.next a{
  color: white;
  padding: 5px 20px;
}
.next:hover{
  background-color: white;
  color: black;
}
.next:hover a{
  text-decoration: none;
  color: black;
}

#div-email, #div-experience, #div-fields{
  padding: 100px;
  margin: 500px 0px;
}


#experience{
  border: 1px solid red;
  width: 200px;
}
#experience option{
  color: black;
}