#div1{
  position: relative;
  width: 70%;
  margin: auto;
  transform: translate(0%, 100%);
  text-align: center;
}

#name{
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  width: 60%;
}