*{
    margin: 0;
    padding: 0;
}

#title{
    font-family: sans-serif;
    color: white;
    margin-left: 7%;
}

#subtitle{
    font-family: sans-serif;
    color: white;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #f8b8ae 0%, #FF6A88 55%, #FF99AC 100%);
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.field{
    margin-bottom: 1em;
}

.field label{
    margin-bottom: 0.2em;
    color: white;
    display: block;
}

fieldset .group .field{
    float: left;
    margin-right: 1em;
}

.field input[type="text"], .field input[type="email"], .field select, .field textarea{
    padding: 0.2em;
    border: 1px solid white;
    box-shadow: 2px, 2px, 2px black;
    display: block;
}

.field select option{
    padding-right: 1em;
}

.field input:focus, .field select:focus, .field textarea:focus{
    background: white;
}
.button{
    font-size: 1.2em;
    background: white;
    border: 0;
    margin-bottom: 1em;
    color: #FF6A88;
    padding: 0.2em 0.6em;
    box-shadow: 2px, 2px, 2px black;
    text-shadow: 1px, 1px, 1px black;;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% -50%);
}

.button:hover{
    background: #ff4c70;
    color: white;
}

#check{
    display: inline-block;
}









